* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.main-content {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.upper-body {
    display: flex;
    gap: 10vh;
}

.banner {
    gap: 4vh;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.th, td {
    border: 1px solid;
    padding: 8px;
}

.overview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}